# build
dist
.parcel-cache
.dev.vars
.env/*.secret.vars
/env/*

# dependencies
/node_modules
/.yarn

# production
/build
/out

# misc
.env.dev
.env.production
.prod.vars
.DS_Store
.env.development
.local.vars
wrangler.toml.backup
.wrangler/
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.vercel
src/features/landing/components/DropsTemplate.tsx
parcel-bundle-reports/default.html
